/*
 * vim: ft=less
 */
:root {
  --noti-bg: rgba(0, 0, 0, 0.4);
  --noti-fg: #FFFFFF;
  --noti-bg-hover: rgba(0, 0, 0, 0.7);
  --noti-bg-focus: #A3BE8C00;
  --noti-close-bg: rgba(255, 255, 255, 0.0);
  --noti-close-bg-hover: rgba(255, 255, 255, 0.0);
  --noti-urgent: #BF616A;
  --action-color: rgba(255, 82, 174, 1);

  --cc-bg: rgba(18, 17, 18, 0.7);
  --cc-items-bg: rgba(0, 0, 0, 0.5);
  --cc-btn: rgba(255, 255, 255, 0.3);
  --cc-btn-disabled: rgba(255, 255, 255, 0.1);
  --cc-btn-hover: var(--action-color);

  --bg-selected: rgba(0, 0, 0, 0);

  --slider-color: var(--action-color);
}


* {
  color: var(--noti-fg);
}

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: var(--noti-bg-focus);
}

.notification {
  border-radius: 12px;
  border: none;
  margin: 6px 12px;
  padding: 0;
}

/* Uncomment to enable specific urgency colors */
/* .low {
  background: yellow;
  padding: 6px;
  border-radius: 12px;
}

.normal {
  background: green;
  padding: 6px;
  border-radius: 12px;
} */

.critical {
  background: var(--noti-urgent);
  padding: 2px;
  border-radius: 12px;
}


.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 12px;
}

.close-button {
  background: var(--noti-close-bg);
  color: white;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: var(--noti-close-bg-hover);
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background-color: var(--noti-bg);
  color: white;
}

.notification-default-action:hover,
.notification-action:hover {
  background: var(--noti-bg-hover);
}

.notification-default-action {
  border-radius: 12px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
}

.image {}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: white;
  text-shadow: none;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: white;
  text-shadow: none;
}

.control-center {
  background-color: var(--cc-bg);
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Notifications Widget */

.widget-notification {
  background-color: var(--cc-items-bg);
  border-radius: 12px;
}

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
  background-color: var(--cc-items-bg);
  border-radius: 12px;
}

.widget-title > button {
  font-size: initial;
  text-shadow: none;
  background-color: var(--cc-btn);
  box-shadow: none;
  border-radius: 12px;
}

.widget-title > button:hover {
  background: var(--cc-btn-hover);
}

.widget-title > button:disabled {
  background-color: var(--cc-btn-disabled);
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
  background-color: var(--cc-items-bg);
  border-radius: 12px;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 12px;
  background: var(--noti-bg);
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: var(--slider-color);
}

.widget-dnd>switch slider {
  background: var(--noti-bg-hover);
  border-radius: 12px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}

.widget-label>label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

/* Volume and Brightness Widget*/

.widget-volume, .widget-backlight {
  background-color: var(--cc-items-bg);
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border-radius: 12px;
}

/* Switch Widget */

.widget-dnd > switch {
  background-color: var(--noti-bg);
  border-radius: 12px;
  box-shadow: none;
}

.widget-dnd > switch slider {
  background-color: #ffffff;
  border-radius: 12px;
}

.widget-dnd > switch:checked {
  background-color: var(--action-color);
}

.widget-dnd > switch:checked slider {
  background-color: white;
}

.widget-dnd > switch:hover {
  background-color: var(--cc-btn-hover);
}

.widget-dnd > switch:checked:hover {
  background-color: var(--slider-color);
}

/* Slider Widget */

scale trough { /* Slider background */
}

scale slider { /* Slider handle */

}

scale highlight { /* Slider highlight */
  background-color: var(--slider-color);
}

.KB {
  padding: 4px 8px 4px 8px;
  margin: 0px 8px 0px 8px;
  border-radius: 0;
}

.power-buttons{
  background-color: var(--noti-bg);
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}


.power-buttons>button {
  background: transparent;
  border: none;
}

.power-buttons>button:hover {
  background: var(--noti-bg-hover);
}

.widget-menubar {
  margin: 8px;
}

.widget-menubar>box>.menu-button-bar>button{
  border: none;
  background: transparent;
}

.topbar-buttons>button{
  border: none;
  background: transparent;
}

.widget-buttons-grid{
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  background-color: var(--cc-items-bg);
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  background: var(--cc-btn);
  border-radius: 12px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: var(--cc-btn-hover);
}

.powermode-buttons{
  background-color: var(--noti-bg);
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.powermode-buttons>button {
  background: transparent;
  border: none;
}

.powermode-buttons>button:hover {
  background: var(--noti-bg-hover);
}

