* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Ubuntu Mono Nerd Font';
    font-size: 18px;
    font-weight: 600;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#wireplumber,
#tray,
#workspaces,
#window,
#custom-flag,
#custom-hrt
{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 0 15px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

#workspaces button {
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    background: none;
    border: none;
    box-shadow: none;
    font-weight: normal;
    text-shadow: none;
}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#battery.charging, #battery.plugged {
    border-radius: 100px;
    border-left: 3px solid rgba(255, 255, 255, 1);
    border-right: 3px solid rgba(255, 255, 255, 1);
}

@keyframes blink {
    to {
        background-color: #fc6a6a;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: rgba(245, 60, 60, 0);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background-color: rgba(245, 60, 60, 0.3);
}

#temperature.critical {
    background-color: rgba(245, 60, 60, 0.3);
}

.modules-right {
    margin-right: 10px;
}

.modules-left {
    margin-left: 10px;
}

#workspaces {
    padding-left: 0px;
    padding-right: 0px;
}

tooltip {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
}